<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Platforma</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <script src="//cdn.ckeditor.com/4.12.1/full/ckeditor.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Platformă</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav ml-auto">
                    <% if(!currentUser){ %>
                        <li class="nav-item"><a href="/login">Intră in cont <i class="fas fa-external-link-alt"></i></a></li>
                        <li class="nav-item"><a href="/register">Înregistrează-te <i class="fas fa-user-plus"></i></a></li>
                    <% } else { %>
                        <li class="nav-item"><a href="/campgrounds/new"><i class="fas fa-plus"></i> Adaugă un nou fișier</a></li>
                        <li class="nav-item"><a href="#"><i class="far fa-user-circle"></i> Logat ca <%= currentUser.username %></a></li>
                        <li class="nav-item"><a href="/logout">Ieșire <i class="fas fa-sign-out-alt"></i></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container mt-3">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>