<% include ../partials/header %>

<div class="container mt-3">
	<h1 class="text-center text-light">Edit Comment</h1>

	<div class="row">
		
		<div style="width:30%; margin:25px auto;">
			<form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">  
				<div class="form-group">
					<input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block">
						Submit
					</button>
				</div>
			</form>
			<a href="/campgrounds">Go back</a>
		</div>
	</div>
	
</div>
<% include ../partials/footer %>