<% include ../partials/header %>

<div class="container mt-3">
	<h1 class="text-center">Add New Comment to <%= campground.name %> </h1>

	<div class="row">
		
		<div style="width:30%; margin:25px auto;">
			<form action="/campgrounds/<%= campground._id %>/comments" method="POST">  
				<div class="form-group">
					<input class="form-control" type="text" name="comment[text]" placeholder="text">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block">
						Submit
					</button>
				</div>
			</form>
			<a href="/campgrounds">Go back</a>
		</div>
	</div>
	
</div>
<% include ../partials/footer %>