<% include ./partials/header %>

<div class="flex-container text-center">
	<div class="row">
		<div class="flex-item">
				<h1 class="text-light">Login</h1>
				<form class="mt-5" action="/login" method="POST">
					<div class="form-group">
					<label class="text-light">Username: </label>
					<input class="form-control login-input" type="text" name="username" placeholder="username">
					<label class="text-light mt-3">Password: </label>
					<input class="form-control login-input" type="password" name="password" placeholder="password">
					<input class="btn btn-primary mt-3" type="submit" value="Login">
				</form>
		</div>
	</div>
	
</div>

<% include ./partials/footer %>

