<% include ./partials/header %>

<div class="flex-container text-center">
	<div class="row">

		<div class="flex-item">
				<h1 class="text-light">
					Register
				</h1>
						
				<form class="mt-5 form-group" action="/register" method="POST">
						<label class="text-light">Username: </label>
						<input class="form-control login-input" type="text" name="username" placeholder="username" required>
						<label class="text-light mt-3">Password: </label>
						<input class="form-control login-input" type="password" name="password" placeholder="password" required>
						<button class="btn btn-primary mt-3">
							Submit
						</button>
				</form>
		</div>
	</div>
		
</div>


<% include ./partials/footer %>