<% include ../partials/header %>

<div class="container mt-3">
	<h1 class="text-center text-light">Editează  "<%=campground.name %>"</h1>

	<div class="row">
		
		<div style="width:100%; margin:25px auto;">
			<form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>">
				</div>
				<!-- <div class="form-group">
					<input class="form-control" type="number" name="campground[price]" value=" <%= campground.price %>" min="0.01" step="0.01" >
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="campground[image]" value="<%= campground.image %>">
				</div> -->
				<div class="form-group">
					<textarea id="editor1" class="form-control" type="text" name="campground[description]"><%= campground.description %></textarea>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block">
						Submit
					</button>
				</div>
			</form>
			<a href="/campgrounds" class="btn btn-primary">Înapoi</a>
		</div>
	</div>
	
</div>
<% include ../partials/footer %>