<% include ../partials/header %>

 <div class="container-fluid pl-5 pr-5">
     <div class="row main-content">
            <div class="col-2 left-side-bar">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fas fa-user"></i> Contul meu</a>
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="far fa-file-alt"></i> Fisiere</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fas fa-table"></i> Tabele</a>
              </div>
            </div>
            <% if(currentUser){ %>
            <div class="col-10">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist"> 
                            <% campgrounds.forEach(function(campground, index){ %>
                             <% if (index === 0) { %>
                                <% if(currentUser && campground.author.id.equals(currentUser._id)){%>
                                <li class="nav-item"> <a class="nav-link active" id="pills-<%= campground._id %>-tab" data-toggle="pill" href="#pills-<%= campground._id %>" role="tab" aria-controls="pills-<%= campground._id %>" aria-selected="true"><i class="far fa-folder-open"></i> <%= campground.name %></a> </li>
                                <% } %>
                                <% }  else if(currentUser && campground.author.id.equals(currentUser._id)){%>
                             
                            <li class="nav-item"> <a class="nav-link" id="pills-<%= campground._id %>-tab" data-toggle="pill" href="#pills-<%= campground._id %>" role="tab" aria-controls="pills-<%= campground._id %>" aria-selected="false"><i class="far fa-folder-open"></i> <%= campground.name %></a> </li>
                            <% } %>
                            <div class="descriere">
                                <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit"><i class="fas fa-edit"></i> Modifică</a>
                               <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger"><i class="far fa-trash-alt"></i> Șterge</button>
                               </form>
                           </div>
                            <% }); %> 
                        </ul>
                        <div class="tab-content scrollable-content" id="pills-tabContent"> 
                        <% campgrounds.forEach(function(campground, index){ %>
                            <% if (index === 0) { %>
                                
                                <div class="tab-pane fade show active" id="pills-<%= campground._id %>" role="tabpanel" aria-labelledby="pills-<%= campground._id %>-tab">
                                    <% if(currentUser && campground.author.id.equals(currentUser._id)){%>
                                            <%- campground.description %>
                                            <% } %>
                                    <div class="descriere">
                                         <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit"><i class="fas fa-edit"></i> Modifică</a>
                                        <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                             <button class="btn btn-xs btn-danger"><i class="far fa-trash-alt"></i> Șterge</button>
                                        </form>
                                    </div>
                                </div> 
                                <% }  else { %>
                                    <div class="tab-pane fade" id="pills-<%= campground._id %>" role="tabpanel" aria-labelledby="pills-<%= campground._id %>-tab">
                                        <div id="editor1" name="editor1">
                                            <%- campground.description %>
                                        </div>
                                        <div class="descriere">
                                            <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                                                <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit"><i class="fas fa-edit"></i> Modifică</a>
                                                <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                                    <button class="btn btn-xs btn-danger"><i class="far fa-trash-alt"></i> Șterge</button>
                                                </form>
                                            <% }%>
                                        </div>
                                    </div> 
                                <% } %>
                        <% }); %>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="container">
                        <h4 class="border-bottom text-center pb-1">Hello <b><%=currentUser.username%></b> , acesta este panoul de control al contului tau.</h4>
                        <div class="text-center">
                            <h5>Adaugă un nou fișier: </h5>
                            <p class="mt-3">
                                <a class="btn  btn-sm btn-primary btn-large" href="/campgrounds/new">Adaugă</a>
                            </p>
                        </div>
                       
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <!-- Editable table -->
                    <div class="card">
                        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Tabel 1</h3>
                        <div class="card-body">
                        <div id="table" class="table-editable">
                            <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
                                class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
                            <table class="table table-bordered table-responsive-md table-striped text-center">
                            <thead>
                                <tr>
                                <th class="text-center" name="fullName">Nume si prenume</th>
                                <th class="text-center" name="varsta">Varsta</th>
                                <th class="text-center" name="company">Numele companiei</th>
                                <th class="text-center" name="country">Tara</th>
                                <th class="text-center" name="city">Oras</th>
                                <th class="text-center">Sorteaza</th>
                                <th class="text-center">Sterge</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i <=4; ++i){ %>
                                    <tr>
                                            <td class="pt-3-half" contenteditable="true">Stratulat Iulian</td>
                                            <td class="pt-3-half" contenteditable="true">30</td>
                                            <td class="pt-3-half" contenteditable="true">Sinergo Data</td>
                                            <td class="pt-3-half" contenteditable="true">Romania</td>
                                            <td class="pt-3-half" contenteditable="true">Iasi</td>
                                            <td class="pt-3-half">
                                                <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                                                    aria-hidden="true"></i></a></span>
                                                <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                                                    aria-hidden="true"></i></a></span>
                                            </td>
                                            <td>
                                                <span class="table-remove"><button type="button"
                                                    class="btn btn-danger btn-rounded btn-sm my-0">Remove</button></span>
                                            </td>
                                            </tr>
                                <% } %>
                            </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                        <div class="form-group pt-3">
                            <button class="btn btn-success btn-sm float-right">Add new tabel</button>
                            <button class="btn btn-primary btn-sm float-right mr-2 ">Save</button>
                        </div>
                         
                </div>
                </div>
              </div>
              <%}%>
            </div>
          </div>

          <script type="text/javascript">
            CKEDITOR.replace( 'editor1' );
        </script>


<% include ../partials/footer %>