<% include ../partials/header %>


<div class="container mt-3">
	<h1 class="text-center text-light">Adaugă un nou fișier</h1>

	
	<div class="row">
		<div style="width:100%; margin:25px auto;">
			<form action="/campgrounds" method="POST">
				<div class="form-group m-auto pb-2 text-center" style="width:35%;">
					<label class="text-light"><h3>Titlu: </h3></label>
					<input class="form-control" type="text" name="name" placeholder="titlu">
				</div>
				<!-- <div class="form-group">
					<input class="form-control" type="number" name="price" placeholder="price" min="0.01" step="0.01" >
				</div> -->
				<!-- <div class="form-group" style="width:35%;">
					<input class="form-control" type="text" name="image" placeholder="image url">
				</div> -->
				<div class="form-group">
					<textarea id="editor1" class="form-control" type="text" name="description" placeholder="description"></textarea>
				</div>
				<div class="form-group text-center m-auto" style="width:35%;">
					<button class="btn btn-primary btn-block">
						Submit
					</button>
				</div>
			</form>
			<a class="btn btn-primary m-auto text-center" href="/campgrounds">Go back</a>
		</div>
	</div>
	
</div>


<% include ../partials/footer %>