html {
	height: 100%;
	font-size: 14px;
}

body {
	background: linear-gradient(0deg, #fff 0%, transparent 100%), linear-gradient(0deg, #fff 0%, transparent 100%),
		linear-gradient(
			135deg,
			rgba(96, 96, 96, 0.21) 0%,
			rgba(96, 96, 96, 0.21) 50%,
			rgba(45, 45, 45, 0.21) 50%,
			rgba(45, 45, 45, 0.21) 100%
		),
		linear-gradient(
			0deg,
			rgba(220, 220, 220, 0.2) 0%,
			rgba(220, 220, 220, 0.2) 31%,
			rgba(200, 200, 200, 0.2) 31%,
			rgba(200, 200, 200, 0.2) 100%
		),
		linear-gradient(
			0deg,
			rgba(124, 124, 124, 0.26) 0%,
			rgba(124, 124, 124, 0.26) 15%,
			rgba(218, 218, 218, 0.26) 15%,
			rgba(218, 218, 218, 0.26) 100%
		),
		linear-gradient(
			45deg,
			rgba(157, 157, 157, 0.14) 0%,
			rgba(157, 157, 157, 0.14) 46%,
			rgba(26, 26, 26, 0.14) 46%,
			rgba(26, 26, 26, 0.14) 100%
		),
		linear-gradient(
			45deg,
			rgba(180, 180, 180, 0.1) 0%,
			rgba(180, 180, 180, 0.1) 45%,
			rgba(62, 62, 62, 0.1) 45%,
			rgba(62, 62, 62, 0.1) 100%
		),
		linear-gradient(
			135deg,
			rgba(33, 33, 33, 0.22) 0%,
			rgba(33, 33, 33, 0.22) 59%,
			rgba(164, 164, 164, 0.22) 59%,
			rgba(164, 164, 164, 0.22) 100%
		),
		linear-gradient(
			135deg,
			rgba(24, 24, 24, 0.11) 0%,
			rgba(24, 24, 24, 0.11) 71%,
			rgba(245, 245, 245, 0.11) 71%,
			rgba(245, 245, 245, 0.11) 100%
		),
		linear-gradient(
			0deg,
			rgba(5, 5, 5, 0.15) 0%,
			rgba(5, 5, 5, 0.15) 91%,
			rgba(50, 50, 50, 0.15) 91%,
			rgba(50, 50, 50, 0.15) 100%
		),
		linear-gradient(90deg, rgb(198, 198, 198), rgb(158, 158, 158));

	font-family: 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {
	color: #444444;
}

a:hover {
	color: #444444;
	font-weight: 500;
	text-decoration: none;
}

#pills-tabContent {
	border-top: 1px solid lightgray;
	padding: 1rem;
}

#mytextarea {
	height: 500px;
	width: 50% !important;
}

#total-likes {
	float: right;
	margin-top: 1em;
}

#delete-form {
	display: inline;
}

.col-3,
.col-9 {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.navbar {
	background: #5d7599;
}

.navbar a,
.navbar-light .navbar-brand {
	color: white;
}

.navbar-light .navbar-brand:hover {
	color: white;
}

.jumbotron {
	background-image: url("https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	background-size: cover;
	background-position: center;
	color: white;
	box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
}
.img-thumbnail img {
	width: 100%;
}

.img-thumbnail {
	padding: 0;
	box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.3);
	margin-top: 1em;
}

.img-thumbnail .caption-full {
	padding: 9px;
}

.btn-xs {
	padding: .25rem .4rem;
	font-size: .875rem;
	line-height: .5;
	border-radius: .2rem;
}

.nav-item {
	margin-right: 1em;
}

.left-side-bar {
	border-right: 1px solid #c5c5c5;
}

.checked {
	color: orange;
}

.descriere {
	display: block;
	float: right;
	position: fixed;
	right: 10vh;
}

.main-content {
	padding: 0.5rem;
	background-color: #f6f7f3;
	border: 2px solid lightgray;
	border-radius: 5px;
	margin-bottom: 3rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	background: #5d7599;
}

.btn-block {
	width: 100px;
	margin: auto;
}
.btn-primary {
	background: #5d7599;
	border-color: #5d7599;
}

.btn-primary:hover {
}

.btn-warning {
	color: white;
	background: #ffa939;
	border-color: #ffa939;
}

.btn-warning:hover {
	color: white;
	font-weight: 700;
	background: #f4bb8a;
	border-color: #f4bb8a;
	transition: 0.8s;
}

.form-control {
	margin: auto;
}

.login-input {
	width: 300px;
}

.flex-container {
	display: flex;
	justify-content: center;
}

.flex-container .row {
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
	padding: 2em;
}

.scrollable-content {
	height: 82.5vh;
	width: 100%;
	overflow: auto;
}
